@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #324b58;
    font-family: 'Open Sans';
    height: 1956px;
    width: 375px;
    left: -188px;
    top: -978px;
    border-radius: 0px;
    
}
.cabezera{
    position: absolute;
    width: 327px;
    display: grid;
    grid-template-columns: 268px 59px;
    height: 44px;
    margin-left: 24px;
    margin-top: 54px;
}
.header-left{
 
    color: #e4e4e4;
    width: 70%;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.cabezera .notification{
    width: 30px;
    height: 30px;
    margin-left: 50%;
    background-image: url('/assets/img/bell.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.target{
    position: absolute;
    left: 24px;
    top: 120px;
    width: 327px;
    height: 260px;
}
.information-target{
    width: 100%;
    height: 230px;
    border-top: 26px;
    border-radius: 20px;
    background: linear-gradient(#20243e 10%, #434a76 20%, #2c335a 60%) ;

}
.image-target{
    position: absolute;
    width: 170px;
    height: 180px;
    right: 10px;
    top: -26px;
    background-image: url('/assets/img/logo.png');
}
.title-target{
    width: 112px;
    margin-left: 25px;
    color: white;
    font-family: 'Open Sans';
    font-size: 18px;
    padding-top: 30px;
    font-weight: 600;
}
.information-target p{
    font-weight: 600;
    width: 60px;
    margin-left: 24px;
    font-size: 14px;
    font-family: 'Open Sans';
    margin-top: 60px;
    color: white;
}
.information-target h2{
    font-family: 'Open Sans';
    font-size: 35px;
    margin-left: 25px;
    line-height: 0;
    font-weight: 600;
    color:white;
}
.tarifas {
    margin-top: 360px;
    position: absolute;
    height: 102px;
    width: 327px;
    background-color: #3e4363;
    margin-left: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height:50px;
    border-radius: 20px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: #e4e4e4;
}
.tarifas .cont-l{
    margin-left: 24px;
}
.tarifas .cont-r{
    text-align: right;
    margin-right: 24px;
}
.container-title-main{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 375px;
    height: 3opx;
    top:500px ;
}
.title-main{
    width: 268px;
    color: #e4e4e4;
    font-weight: 600;
    font-size: 18px;
    margin-left: 24px;
}
.container-title-main .plus{
    width: 25px;
    height: 25px;
    margin-left: 30px;
    background-image: url(/assets/img/plus-circle-dotted.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.metas{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 327px;
    margin-left: 24px;
    height: 200px;
    margin-top: 550px;
}
.metas .target-metas{
    border-radius: 15px;
    height: 195px;
    padding: 20px;
    background-color: #3e4363;
    margin-right: 8px;
}
.title-target-main{
    margin-left: 0px;
    margin-top: 5px;
    width: 118px;
    height: 40px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: #e4e4e4;
}
.ahorros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}
.ahorros .graphic_20{
    width: 50px;
    height: 50px;
    background-image:url('/assets/img/s_donut.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.ahorros .graphic_0{
    width: 50px;
    height: 50px;
    background-image:url('/assets/img/s_donut_0.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.ahorros .valor-ahorrado{
    grid-column: 2;
    grid-row: 1;
    width: 63px;
    height: 16px;
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.03em;
    color: #54D1ED;
    margin-top: 15px;
}
.ahorros .valor{
    grid-column: 2;
    grid-row: 1;
    width: 63px;
    height: 16px;
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.03em;
    color: #e4e4e4;
    margin-top: 30px;
}

.header-portafolio{
    position: absolute;
    margin-top: 800px;
    margin-left: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header-portafolio .title-portafolio{
    width:260px;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    color: #e4e4e4;
    height: 25px;
}
.header-portafolio .button-portafolio{
    width: 64px;
    background-color:#E4FFEE;
    border-radius: 15px;
    border: 0.5px solid #41CF69;
    font-family: 'Open Sans';
    font-size: 10px;
    padding: 3px 10px;
    /*width: 44px;*/
    color: #41CF69;
    cursor: pointer;
    text-align: center;
}
.portafolio-info{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "image-portafolio content-portafolio"
    "footer-portafolio footer-portafolio";
    border-radius: 15px;
    position: absolute;
    margin-top: 850px;
    margin-left: 24px;
    width: 327px;
    background-color: #3e4363;
    height: 230px;
    padding: 10px;
}
.portafolio .image-portafolio{
    grid-area: image-portafolio;
    margin-left: 20px;
    margin-top: 20px;
    width: 120px;
    height: 125px;
    background-image: url('/assets/img/holding_donut_robot.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.portafolio .content-portafolio{
    grid-area: content-portafolio;
}
.company{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.company .logo-company{
    width: 90px;
    height: 40px;
    background-image: url('/assets/img/logo_company.png');
    background-size: 100%;
    background-position: center;
}
.company .porcentaje-company{
    width: 36px;
    height: 20px;
    margin-left: 15px;
    margin-top: 5px;
    color: #3e4363;
    background-color: #41CF69;
    border-radius: 15px;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;

}
.content-portafolio .text-company{
    display: grid;
    height: 105px;
    grid-auto-rows: 20px;
}
.text-company .text-company-title{
    height: 16px;
    font-family: 'Open Sans';
    font-size: 12px;
    color: #ebe8f1;
    font-weight: 400;
    letter-spacing: -0.03em;
}
.text-company .text-company-precio{
    height: 16px;
    font-family: 'Open Sans';
    font-size: 16px;
    color: #ebe8f1;
    font-weight: 600;   
    letter-spacing: -0.03em;
}
.text-company .text-company-tipo{
    height: 14px;
    font-family: 'Open Sans';
    font-size: 14px;
    color: #41CF69;
    font-weight: 600;
    letter-spacing: -0.03em;
}
.text-company .text-company-renta{
    height: 28px;
    font-family: 'Open Sans';
    font-size: 14px;
    color: #ebe8f1;
    font-weight: 600;   
    letter-spacing: -0.03em;    
}
.frame-company{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.frame-company .frame-left{
    width: 30px;
    height: 30px;
    background-image: url('/assets/img/chevron-left.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.frame-company .frame-rigth{
    width: 30px;
    height: 30px;
    background-image: url('/assets/img/chevron-right.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 50px;
}
.portafolio .footer-portafolio{
    grid-area: footer-portafolio;
    width: 287px;
    height: 30px;
    font-family: 'Open Sans';
    font-size: 10px;
    color: #ebe8f1;
    font-weight: 600;   
    letter-spacing: -0.03em;   
    margin-left: 15px;
}
.ahorro{
    width: 327px;
    position: absolute;
    margin-left: 24px;
    margin-top: 1120px;
    display: grid;
    grid-template-rows: 50px 280px ;
}
.ahorro .title-ahorro{
    width: 268px;
    color: #e4e4e4;
    font-weight: 600;
    font-size: 18px;
}
.ahorro .carousel-item img{
    width: 100%;
    height: 270px;
    border-radius: 15px;
}
.ahorro .vector{
    position: absolute;
    width: 327px;
    height: 120px;
    background-image: url(/assets/img/Vector\ 6.svg);
    margin-left: -49px;
    margin-top: -80px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: left;
    padding: 10px 20px;
    line-height: 97px;
    display: grid;
    grid-template-rows: 30px 32px;
}
.vector .title-vector{
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 600;
}
.vector .content-vector{
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
}
.consejos{
    position: absolute;
    width: 327px;
    height: 310px;
    margin-left: 24px;
    margin-top: 1500px;
    border-radius: 15px;
    background-color: #3e4363;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.consejos .content-consejos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "text-consejos image-consejos"
    "text-consejos image-consejos"
}
.content-consejos .title-consejos{
    grid-area: text-consejos;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    color: #ebe8f1;
    padding: 10px;
}
.content-consejos .text-consejos{
    grid-area: text-consejos;
    font-family: 'Open Sans';
    width: 205px;
    margin-top: 30px;
    font-size: 10px;
    font-weight: 400;
    color: #ebe8f1;
    padding: 10px;
    letter-spacing: -0.03em;
}
.content-consejos .image-consejos-tv{
    grid-area: image-consejos;
    width: 68px;
    height: 68px;
    background-image: url('/assets/img/tv.jpg');
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 20px;
}
.content-consejos .image-consejos-regalos{
    grid-area: image-consejos;
    width: 68px;
    height: 68px;
    background-image: url('/assets/img/compras.jpg');
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 20px;
}
.content-consejos .image-consejos-alcohol{
    grid-area: image-consejos;
    width: 68px;
    height: 68px;
    background-image: url('/assets/img/alcohol.jpg');
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 20px;
}

footer{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    position: fixed;
    width: 327px;
    height: 60px;
    margin-left: 24px;
    bottom: 50px;
    border-radius: 15px;
    background-color: #3e4363;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: #e4e4e4; ;
}
footer .footer-home{
    padding: 12px;
    text-align: center;
}
footer .image-home{
    background-image: url('/assets/img/house-door.svg');
    background-repeat: no-repeat;
    padding: 20px;
    background-position: center;
}
footer .footer-historial{
    padding: 12px;
    text-align: center;
}
footer .image-historial{
    background-image: url('/assets/img/list-ul.svg');
    background-repeat: no-repeat;
    padding: 20px;
    background-position: center;
}footer .footer-ahorro{
    padding: 12px;
    text-align: center;
}
footer .text-ahorro{
    line-height: 75px;
}
footer .image-ahorro{
    position: absolute;
    background-image: url('/assets/img/plus-circle-fill.svg');
    background-repeat: no-repeat;
    background-size: 40px;
    padding: 20px;
    margin-top: -30px;
    margin-left:-20px ;
}footer .footer-perfil{
    padding: 12px;
    text-align: center;
}
footer .image-perfil{
    background-image: url('/assets/img/person-circle.svg');
    background-repeat: no-repeat;
    padding: 20px;
    background-position: center;
}footer .footer-mas{
    padding: 12px;
    text-align: center;
}
footer .image-mas{
    background-image: url('/assets/img/three-dots.svg');
    background-repeat: no-repeat;
    padding: 20px;
    background-position: center;
}