@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
body{
    background-color: #F8F8FC;
    font-family: 'Open Sans';
    height: 1956px;
    width: 375px;
    left: -188px;
    top: -978px;
    border-radius: 0px;
    
}
.cabezera{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 44px;
    position: absolute;
}
.header-left{
    margin-left: 24px;
    margin-top: 54px;
    color: #585858;
    width: 268px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.header-right{
    width: 25px;
    height: 25px;
    left: 326px;
    top: 54px;
}
.cabezera .notification{
    width: 28px;
    height: 25px;
    margin-left: 25px;
    margin-top: 50px;
    background-image: url('/assets/img/notificacion.png');
    background-size: 100%;
}
.target{
    position: absolute;
    left: 24px;
    top: 120px;
    width: 327px;
    height: 260px;
}
.information-target{
    width: 100%;
    height: 230px;
    border-top: 26px;
    background-color:#54D1ED;
    border-radius: 20px;

}
.image-target{
    position: absolute;
    width: 170px;
    height: 180px;
    right: 10px;
    top: -26px;
    background-image: url('/assets/img/logo.png');
}
.title-target{
    width: 112px;
    margin-left: 25px;
    color: white;
    font-family: 'Open Sans';
    font-size: 18px;
    padding-top: 30px;
    font-weight: 600;
}
.information-target p{
    font-weight: 600;
    width: 60px;
    margin-left: 24px;
    font-size: 14px;
    font-family: 'Open Sans';
    margin-top: 60px;
    color: white;
}
.information-target h2{
    font-family: 'Open Sans';
    font-size: 35px;
    margin-left: 25px;
    line-height: 0;
    font-weight: 600;
    color:white;
}
.tarifas {
    margin-top: 360px;
    position: absolute;
    height: 102px;
    width: 327px;
    background-color: white;
    margin-left: 17px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height:50px;
    border-radius: 20px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: #585858;
}
.tarifas .cont-l{
    margin-left: 24px;
}
.tarifas .cont-r{
    text-align: right;
    margin-right: 24px;
}